/* pages/shoppingCart/shoppingCart.wxss */
.top-hint{
  background: rgba(255,61,7,0.22);
  height: 60rpx;
  text-align: center;
  line-height: 60rpx;
  color: rgba(255, 61, 70, .8);
  font-size: 26rpx;
}
.work-field{
  display: flex;
  align-items: center;
  border-bottom: 1rpx solid #eee;
  padding: 20rpx 30rpx;
  background-color: white;

  font-size: 26rpx;
color: #242424;
  > view{
    flex: 1;
    font-size: 28rpx;
    height: 30rpx;
    line-height: 30rpx;
    &.hint-black{
      flex: 3;
      font-size: 26rpx;
      color: #242424;
      text{
        background: #FF6868;
        width: 62rpx;
        height: 30rpx;
        line-height: 30rpx;
        text-align: center;
        margin-right: 20rpx;
        color: #fff;
        font-size: 22rpx;
        border-radius: 100rpx;
        float: left;
      }
    }
    &.edit-btn{
      color: #A5A5A5;
    }
  }
}
.item-view {
  padding: 0!important;
  margin: 0 !important;

  
}
.item-view-box{
  margin: 0 24rpx;

}
.item{
  padding-top: 30rpx;
  margin-left: 24rpx;
  border-radius: 10rpx;
  height:230rpx;
  background-color: white;
  .item-nav {
    .checked {
      flex-shrink: 0;
    }
    .img {
      flex-shrink: 0;
    }
    .content {
      flex: 1;
      min-width: 0;
      > .title {
        width: 412rpx;
      }
    }

  }
  .under_ground{
    opacity: .4;
  }
}
.invaild_opacity {
  opacity: .4;
}
.item_normal{
  height: 265rpx;
  background-color: white;
  margin-top: 24rpx;
  border-radius: 10rpx;
}
.goods_imgage{
  width: 170rpx !important;
  height:170rpx !important;
}
.coupon-hint{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 88rpx;
  border-top: 1rpx solid #eee;
  text-align: center;
  background: #fff;
  z-index: 10;
  >.coupon-item{
    height: 62rpx;
    background: #FFE1E1;
    border-radius: 40rpx;
    color: #FF6868;
    font-size: 26rpx;
    display: inline-flex;
    align-items: center;
    margin: 13rpx auto 0;
    padding: 0 30rpx;
    >view{
      margin: 0 18rpx 0 12rpx;
    }
  }
  >.close{
    position: absolute;
    right: 0;
    top: 0;
    width: 88rpx;
    height: 88rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    >image{
      display: block;
    }
  }
}

.bottom-view{
  height: 120rpx;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  border-top: 1rpx solid #eee;
  padding: 0 30rpx;
  z-index: 10;
  > view{
    flex: 1;
    font-size: 26rpx;
  }
  > .checked{
    flex: initial !important;
    height: 34rpx;
    line-height: 34rpx;
    padding: 20rpx 0;
    > image{
      width: 38rpx;
      height: 38rpx;
      float: left;
      margin-right: 23rpx;
    }
  }
  > .total-price{
    text-align: right;
    padding-right: 28rpx;
    display: flex;
    align-items: flex-start;
    > .hint{
      font-size: 20rpx;
      color: #a2a2a2;
      margin-right: 16rpx;
      flex: 1;
      margin-top: 9rpx;
    }
    >.total-discounts{
      // text-align: left;
      >.total{
        >.price{
          font-size: 32rpx;
          line-height: 32rpx;
          font-weight: bold;
        }
      }
      >.discounts{
        font-size: 18rpx;
        line-height: 26rpx;
        color:#FDCA1F;
      }
    }
    
  }
  > .btn{
    flex: initial !important;
    width: 198rpx;
    > button, >navigator{
      border-radius: 10rpx;
      font-size: 32rpx;
      height: 88rpx;
      line-height: 88rpx;
      text-align: center;
    }
  }
}

.load-none{
  margin-top:40%;
  font-size: 34rpx;
  height: auto;
  line-height: auto;
  color: #B9BDC3;
  view{
    margin-top: -15rpx;
  }
  image{
    width: 220rpx;
    height: 220rpx;
  }
}

.container{
  background-color: #f9f8f8;
  min-height: 100vh;
}

.discounts_text{
  background: #FF6868;
  font-size: 22rpx;
  color: white;
  line-height: 34rpx;
  text-align: center;
  margin-right: 29rpx;
  padding:2rpx 9rpx;
  border-radius: 4rpx;
}
.goods_image_box{
  margin-right:10rpx;
}
.goods_title{
  font-size: 28rpx!important;

}
.goods_label{
  font-size: 24rpx;
  color:#999;
}
.goods_bottom_tip{
  position: absolute;
  left:244rpx;
  bottom:66rpx;
  right:0;
}
.goods_bottom_tip--discount{
  // bottom:110rpx !important;
}
.shop_type{
  background: #FF6010;
  font-size: 18rpx;
  color:white;
  width: 42rpx;
  text-align: center;
  border-radius: 4rpx;
  display: inline-block;

}
.shop_stock{
  font-size: 22rpx;
  position: absolute;
  right:24rpx;
  color:#A5A5A5;
  top: 10rpx;
}
.discount_info{
  height: 96rpx;
  // padding-top: 32rpx;
  padding-left: 26rpx;
  border-bottom: 1rpx solid #EEEEEE;
}
.discount_info--type{
  font-size: 24rpx;
  color: #F59725;
  display: inline-block;
  border:1rpx solid #F59725; 
  margin-right: 20rpx;
  padding: 0 6rpx;
  border-radius:4rpx;
}
.discount_info--text{
  font-size: 24rpx;
    color: #F59725;
}
.item_discount{
  height: 362rpx;
}
.cell--weui-cell{
  padding: 0!important;
}
.slideview--weui-slideview__btn-group_default .slideview--weui-slideview__btn {
	background-color: #ff2a10 !important;
}
.total_price{
  font-size: 32rpx;
}
.check_all{
  font-size: 28rpx;
  color:#333;
  display: inline-block;
  margin-top: 4rpx;
}

.cart_type{
  padding-top: 24rpx;
	.title{
		font-size: 30rpx;
		color: #151515;
		font-weight: bold;
	}
	.clear{
		font-size: 26rpx;
	color: #989797;
	}
}
.navigator-hover{
  background-color: white!important;
  opacity: 1!important;
}
.slideview--weui-slideview{
  height: auto!important;
}
.under_ground{
  opacity: 0.4;
}

/*输入*/
.input-body{
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba($color: #000, $alpha: .4);
  >.input-view{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 21;
    background: #fff;
    padding: 10rpx;
    display: flex;
    align-items: center;
    >.left{
      flex: 1;
      >input{
        text-align: left;
        height: 82rpx;
        line-height: 82rpx;
        font-size: 32rpx;
        padding-left: 10rpx;
      }
    }
    >.right{
      width: 120rpx;
      >.ok-btn{
        background: #FDCA1F;
        color: #fff;
        text-align: center;
        height: 82rpx;
        line-height: 82rpx;
        border-radius: 8rpx;
      }
    }
  }
}



.cart_content{
  margin: 0 24rpx;
}

.store-type {
  font-size: 18rpx;
  color: #989797;
  margin-top: 6rpx;
  .type-label {
    color: #FFF;
    background: #FF8F1F;
    border-radius: 4rpx;
    padding: 0rpx 3rpx;
    margin-right: 6rpx;
  }
  .type-label-self {
    background: #FF6010;
  }
}

.cart_coupon{
  background:white;
  height: 80rpx;
  padding-right: 36rpx;
  .label{
    width: 120rpx;
    text-align: center;
    font-size: 26rpx;
    color: #151515;
    padding-right: 10rpx;
    flex-shrink: 0;
  }
}
.get_coupon{
  .coupon_info{
   
    
    font-size: 21rpx;
    color: #F59725;
    border-radius: 4rpx;
    margin-right: 12rpx;
  }
  .coupon_info--text{
    padding: 0 10rpx;
     border: 1rpx solid #F59725;
  }
}
.reback_coupon{
  .reback_info{
    font-size: 22rpx;
    color: #989797;
  }
  .reback_content{
    font-size:22rpx;
    line-height: 26rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #989797;
  }

}

.coupon_num{
  font-size: 26rpx;
  color: #F59725;
  height:69rpx;
  margin-right:24rpx;
}