view, navigator {
  box-sizing: border-box;
}

.presale-btn {
  width: 104rpx;
  height: 48rpx;
  line-height: 48rpx;
  text-align: center;
  background: #FFD426;
  border-radius: 24rpx;
  font-size: 18rpx;
  color: #151515;
}
.presale-disabled-btn {
  background: #D0DBD7;
  color: #fff;
}

.add-cart {
  position: relative;
  .badge {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    min-width: 16px;
    padding: 0 3px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background-color: #ee0a24;
    border-radius: 16px;
    transform: translate(50%, -50%);
    transform-origin: 100%;
  }
  > image {
    width: 48rpx;
    height: 48rpx;
    display: block;
  }
}

/*优惠阶梯选择*/
.step-prices-body{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 10;
  >.step-prices{
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top-left-radius: 30rpx;
    border-top-right-radius: 30rpx;
    animation: step-prices-bottom .3s;
    overflow: hidden;
    >.title{
      height: 153rpx;
      position: relative;
      margin: 0 30rpx;
      border-bottom: 1rpx solid #eee;
      > .str{
        font-size: 38rpx;
        font-weight: bold;
        padding-top: 60rpx;
        text-align: left;
      }
      > .close-btn{
        width: 42rpx;
        height: 42rpx;
        position: absolute;
        right: 0rpx;
        top: 60rpx;
        > image{
          width: 24rpx;
          height: 24rpx;
          margin: 10rpx 0 0 10rpx;
        }
      }
    }
    >.content{
      max-height: 600rpx;
      overflow-y: auto;
      .item{
        display: flex;
        border-bottom: 1rpx solid #eee;
        padding: 35rpx 0;
        align-items: center;
        position: relative;
        margin: 0 30rpx;
        &.disabled{
          opacity: .7;
        }
        >.left{
          flex: initial;
          width: 68rpx;
          > image{
            display: block;
          }
        }
        >.right{
          text-align: left;
          flex: 1;
          color: #242424;
          font-size: 30rpx;
        }
      }
    }
    >.btn{
      margin: 20rpx 30rpx;
      .btn1{
        background: #00AE66;
        font-size: 32rpx;
        color: #fff;
        border-radius: 100rpx;
        height: 80rpx;
        line-height: 80rpx;
        &:active{
          opacity: 0.7;
        }
        &::after{
          border: 0;
        }
      }
    }
  }
}

@keyframes step-prices-bottom
{
  from {bottom: -1000rpx;}
  to {bottom: 0;}
}