.show-select{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

view, navigator, text {
  box-sizing: border-box;
}

.index-header {
  position: relative;
  background-image: linear-gradient(180deg, #FFE05C 0%, #FDCB22 100%);
  .search-box {
    height: 64rpx;
    width: 100%;
    .search {
      height: 64rpx;
      width: 690rpx;
      margin: 0 auto;
      background: #fff;
      border-radius: 32rpx;
      padding: 0 28rpx;
      display: flex;
      align-items: center;
      >.search-icon {
        width: 28rpx;
        height: 28rpx;
        margin-right: 12rpx;
      }
      >.search-placeholder {
        opacity: 0.89;
        font-size: 28rpx;
        color: #989797;
      }
    }
  }
  .banner {
    width: 700rpx;
    height: 280rpx;
    margin:16rpx auto 32rpx;
    overflow: hidden;
    border-radius: 30rpx;
    z-index: 9;
    position: relative;
    background: #F7F7F8;
    image {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 30rpx;
    }
  }
  .bottom-ph-bg {
    width: 100%;
    height: 120rpx;
    position: absolute;
    bottom: 0;
    background: #fff;
    border-top-left-radius: 30rpx;
    border-top-right-radius: 30rpx;
  }
}

.close-store {
  display: flex;
  align-items: center;
  width: 700rpx;
  height: 60rpx;
  margin: 0 auto;
  background: #FFF9E7;
  border-radius: 10rpx;
  >image {
    width: 32rpx;
    height: 32rpx;
    display: block;
    margin: 0 30rpx 0 17rpx;
  }
  > text {
    font-size: 24rpx;
    color: #616161;
  }
}

.tags-list {
  width: 700rpx;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .tags-item {
    width: 25%;
    height: 182rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    image {
      width: 102rpx;
      height: 102rpx;
      display: block;
      margin-bottom: 10rpx;
    }
    text {
      font-size: 26rpx;
      font-weight: 400;
      color: #616161;
    }
  }
}

.hot-sale-entry {
  width: 700rpx;
  height: 170rpx;
  margin: 0 auto;
  margin-bottom: 80rpx;
  margin-top: 20rpx;
  image {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 16rpx;
  }
}

.title-box {
  display: flex;
  margin-bottom: 24rpx;
  .title-box-body {
    margin: auto;
    position: relative;
    .title {
      font-family: "PingFangSC-Semibold";
      font-size: 36rpx;
      color: #151515;
      letter-spacing: 2.25px;
      background: transparent;
      z-index: 2;
      position: relative;
    }
    .base-line {
      position: absolute;
      bottom: 4rpx;
      right: 6rpx;
      display: inline-block;
      width: 140rpx;
      height: 8rpx;
      background: #FFD426;
    }
  }
}

.goods-list {
  width: 700rpx;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .goods-item{
    width: 340rpx;
    border-radius: 10rpx;
    margin-bottom: 24rpx;
    box-shadow: 4rpx 0 16rpx rgba($color: #000000, $alpha: 0.08);
    .goods-item-img {
      width: 340rpx;
      height: 340rpx;
      position: relative;
      > image {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 10rpx;
      }
      .tags-mask {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        left: 0;
        .tags-item {
          width: 64rpx;
          height: 62rpx;
          margin-right: 8rpx;
          position: relative;
          > image {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
          > text {
            font-size: 22rpx;
            display: inline-block;
            width: 100%;
            color: #fff;
            text-align: center;
            line-height: 62rpx;
            position: relative;
            z-index: 2;
          }
        }
      }
    }
    .goods-item-info {
      position: relative;
      min-height: 298rpx;
      padding: 11rpx 17rpx;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .goods-item-info-top {
        .goods-title {
          font-size: 28rpx;
          color: #333333;
        }
        .goods-sku {
          margin-top: 8rpx;
          font-size: 24rpx;
          color: #999999;
          > text:not(:last-child)::after {
            content: " | ";
          }
        }
        .goods-limt {
          margin-top: 10rpx;
          color: #FF6010;
          font-size: 16rpx;
          > text {
            display: inline-block;
            border-radius: 4rpx;
            border: 1rpx solid #FF6010;
            padding: 2rpx 4rpx;
          }
        }
      }
      .goods-item-info-bottom {
        .price-box {
          .price {
  
          }
          .normal-price {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .price-sale {
              font-size: 32rpx;
              color: #FF3B30;
              line-height: 1;
            }
            .price-origin {
              font-size: 20rpx;
              color: #989797;
              text-decoration: line-through;
            }
  
          }
          .level-price {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 4rpx;
            .price-sale-box {
              display: flex;
              align-items: center;
              .price-sale {
                font-family: "DINAlternate-Bold";
                font-size: 32rpx;
                letter-spacing: 0;
              }
              > image {
                width: 65rpx;
                height: 24rpx;
                display: block;
                margin-right: 6rpx;
              }
            }
            .price-origin {
              font-size: 18rpx;
              color: #989797;
            }
          }
          .silver-price {
            .price-sale {
              color: #828893 !important;
            }
          }
          .gold-price {
            .price-sale {
              color: #FDBD1C !important;
            }
          }
          .diamond-price {
            .price-sale {
              color: #E5BB72 !important;
            }
          }
          .no-price {
            font-size: 24rpx;
            color: #989797;
            margin-bottom: 18rpx;
          }
          .rmb::before {
            content: '¥';
            font-size: 26rpx;
          }
        }
        .store-type {
          font-size: 18rpx;
          color: #989797;
          .type-label {
            color: #FFF;
            background: #FF8F1F;
            border-radius: 4rpx;
            padding: 0rpx 3rpx;
            margin-right: 6rpx;
          }
          .type-label-self {
            background: #FF6010;
          }
        }
      }
  
      .cart-wrapper {
          position: absolute;
          bottom: 22rpx;
          right: 22rpx;
      }
    }
    


  }
}

.load-more, .load-none{
  background:#f7f7f8;
}




