.price-box {
  
  .normal-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .price-sale {
      font-size: 32rpx;
      color: #FF3B30;
      line-height: 1;
    }
    .price-origin {
      font-size: 20rpx;
      color: #989797;
      text-decoration: line-through;
    }

  }
  .level-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rpx;
    .price-sale-box {
      display: flex;
      align-items: center;
      .member-order {
        display: inline-block;
        width: 60rpx;
        height: 24rpx;
        border-radius:4rpx;
        font-size: 16rpx;
        text-align: center;
        line-height: 24rpx;
        margin-right: 8rpx;
      }
      .price-sale {
        line-height: 1.2;
        font-family: "DINAlternate-Bold";
        font-size: 32rpx;
        letter-spacing: 0;
      }

    }
    .price-origin {
      font-size: 18rpx;
      color: #989797;
    }
  }
  .copper {
    .member-order {
      color: #fff;
      background-image: linear-gradient(-41deg, #848383, #949494);
      box-shadow: inset 0 1rpx 3rpx 0 #A37044;
    }
    .price-sale {
      color: #848383 !important;
    }
  }
  .silver {
    .member-order {
      color: #fff;
      background-image: linear-gradient(135deg, #EDEEF0 0%, #808691 100%);
      box-shadow: inset 0 1rpx 3rpx 0 #828893;
    }
    .price-sale {
      color: #828893 !important;
    }
  }
  .gold {
    .member-order {
      color: #fff;
      background-image: linear-gradient(-41deg, #FDBD1C 0%, #FFE800 100%);
      box-shadow: inset 0 1rpx 3rpx 0 #FDC126;
    }
    .price-sale {
      color: #FDBD1C !important;
    }
  }
  .diamond {
    .member-order {
      color: #fff;
      background-image: linear-gradient(-41deg, #76D6FD,  #01B8FF,#9AE2FF);
    }
    .price-sale {
      color: #01B8FF !important;
    }
  }
  .no-price {
    font-size: 24rpx;
    color: #989797;
  }
  .rmb::before {
    content: '¥';
    font-size: 26rpx;
  }
}