.price-box {
  
  .normal-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8rpx;
    .price-sale {
      font-size: 32rpx;
      color: #FF3B30;
      line-height: 1;
    }
    .price-origin {
      font-size: 20rpx;
      color: #989797;
      text-decoration: line-through;
    }

  }
  .level-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rpx;
    .price-sale-box {
      display: flex;
      align-items: center;
      .member-order {
        display: inline-block;
        width: 60rpx;
        height: 24rpx;
        border-radius:4rpx;
        font-size: 16rpx;
        text-align: center;
        line-height: 24rpx;
        margin-right: 8rpx;
      }
      .price-sale {
        line-height: 1.2;
        font-family: "DINAlternate-Bold";
        font-size: 32rpx;
        letter-spacing: 0;
      }

    }
    .price-origin {
      font-size: 18rpx;
      color: #989797;
    }
  }
  .copper {
    .member-order {
      color: #fff;
      background-image: linear-gradient(-41deg, #F9CB85, #AD6629);
      box-shadow: inset 0 1rpx 3rpx 0 #A37044;
    }
    .price-sale {
      color: #D79E5C !important;
    }
  }
  .silver {
    .member-order {
      color: #fff;
      background-image: linear-gradient(135deg, #EDEEF0 0%, #808691 100%);
      box-shadow: inset 0 1rpx 3rpx 0 #828893;
    }
    .price-sale {
      color: #828893 !important;
    }
  }
  .gold {
    .member-order {
      color: #fff;
      background-image: linear-gradient(-41deg, #FDBD1C 0%, #FFE800 100%);
      box-shadow: inset 0 1rpx 3rpx 0 #FDC126;
    }
    .price-sale {
      color: #FDBD1C !important;
    }
  }
  .diamond {
    .member-order {
      color: #fff;
      background-image: linear-gradient(-41deg, #76D6FD,  #01B8FF,#9AE2FF);
    }
    .price-sale {
      color: #01B8FF !important;
    }
  }
  .no-price {
    font-size: 24rpx;
    color: #989797;
  }
  .rmb::before {
    content: '¥';
    font-size: 26rpx;
  }
}

.store-type {
  font-size: 18rpx;
  color: #989797;
  margin-top: 6rpx;
  height: 24rpx;
  .type-label {
    color: #FFF;
    background: #FF8F1F;
    border-radius: 4rpx;
    padding:0rpx 3rpx;
    margin-right: 6rpx;
  }
  .type-label-self {
    background: #FF6010;
    line-height: 22rpx;
  }
  
  .type-buyer{
    border: 1rpx solid #68564C;
    border-radius: 4rpx;
    height: 24rpx;
   .front{
     text-align: center;
     color: #FFD426;
     width: 32rpx;
     height: 100%;
     line-height: 20rpx;
     font-size: 18rpx;
     margin-right: 2rpx;
     padding-right: 4rpx;
     background-size: 100% 100%;
     background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAYCAYAAADtaU2/AAAAAXNSR0IArs4c6QAAAQRJREFUSA291rEOwVAUBuBzWkKMGrGYjDZvYbCIBDEYTKUv0ZeodGoagzCI1TsYbEYPQLpXpD3u1bRp7P673Dvd7/7ntMlhezIUAi9mvhhgM+MM9uAwE0ftWvMAh4k5cMMwhsKqtymZVV/Xu4LssZCc/d3xrk1oYlNMLw8Kg5np3ur1z3BYgb7ruikWZoqNWjXIUb2DSs17b3uK4LBKtymjwMS/LKjUIuT80pAeC8vUWYysMg6BSaievt5LPJyJtvqPi6DFofyaf5xVn7vP23WQ3w2DNZhwUnxkUFgNAYPVfNzVj4DCImJQ8rY1zOhh7zv6NKwONLFOqoYB6xFHMzj8xYXWH/JqQanR0xxSAAAAAElFTkSuQmCC");
   }
   .buyer{
     color:#68564C;
    padding-right: 4rpx;

   }
  }
}

.store-type-supplier,.type-label-self{
  margin-right: 4rpx;
  height: 24rpx;
}
.store-type-supplier{
  border: 1rpx solid #FF6010;
  font-size: 18rpx;
  border-radius: 4rpx;
  line-height: 22rpx;
  color:#FF6010;
  .type-label-supplier{
    width: 28rpx;
    text-align: center;
    height: 100%;
    background-color: #ff6010;
    color:white;
  }
  .store-type-supplier-text{
    padding: 0 4rpx;
    color:#FF6010;
  }
}


