@import "./itemList.skeleton.scss";

.search-body{
  height: 100rpx;
  transition: height .3s;
  overflow: hidden;
}

//遮罩层
.scroll-view-body{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba($color: #000, $alpha: .4);
  z-index: 4;
  top: 100rpx;
  left: 0;
}
//默认进来的样式
.scroll-view, .scroll-view-down {
  border-top: 1rpx solid #f3f4f6;
  border-bottom: 1rpx solid #f3f4f6;
  display: flex;
  white-space: nowrap;
  width: 750rpx;
  height: 88rpx;
  position: fixed;
  top: 100rpx;
  transition: top .3s;
  left: 0;
  z-index: 99;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 8rpx 16rpx 0 rgba(0, 0, 0, 0.04);
  .tags-view-item{
    width: 148rpx;
    height: 48rpx;
    line-height: 48rpx;
    text-align: center;
    display: inline-block;
    white-space: normal;
    border-radius: 24rpx;
    margin-top: 20rpx;
    margin-right: 18rpx;
    font-size: 26rpx;
    color: #616161;
    &:last-child{
      margin-right: 80rpx !important;
    }
    &:nth-child(1){
      margin-left: 30rpx;
    }
  }
  .tag-active{
    background-color: #FFD426;
    color: #fff;
  }
  //展开
  &.scroll-view-down{
    height: auto;
    white-space: normal;
    padding-bottom: 20rpx;
    .tags-view-item{
      display: inline-block;
      white-space: normal;
      &:last-child{
        margin-right: 160rpx !important;
      }
      &:nth-child(4n + 1){
        margin-left: 30rpx;
      }
    }
  }
}

.down-img{
  position: fixed;
  top: 100rpx;
  transition: top .3s;
  right: 0;
  z-index: 100;
  width: 72rpx;
  height: 88rpx;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1rpx solid #f3f4f6;
  >image{
    width: 26rpx;
    height: 16rpx;
  }
}

.category-view{
  z-index: 2;
  top: 188rpx;
  transition: top .3s;
}
.head-view{
  position: fixed;
  z-index: 9;
  left: 190rpx;
  right: 0;
  top: 188rpx;
  transition: top .3s;
  background: #fff;
  display: flex;
  height: 84rpx;
  border-bottom: 1rpx solid #f3f4f6;
  align-items: center;
  > view{
    flex: 1;
    text-align: center;
    height: 64rpx;
    font-size: 28rpx;
    color: #000;
    line-height: 64rpx;
    &.interval{
      flex: initial !important;
      width: 2rpx;
      height: 24rpx;
      background:#f3f4f6;
    }
    > image{
      width:16rpx;
      height:20rpx;
      margin-left:10rpx;
      position:relative;
      top:2rpx;
    }
  }
}

.goods-view{
  padding: 273rpx 0 0 190rpx;
  >.category-title{
    margin: 0 24rpx;
    font-size: 28rpx;
    height: 74rpx;
    line-height: 74rpx;
    color: #989797;
    border-bottom: 1rpx solid #eee;
  }
  >.goods-item {
    display: flex;
    padding: 16rpx 24rpx 16rpx 0;
    >.goods-item-img {
      position: relative;
      margin: 0 16rpx;
      flex-shrink: 0;
      .tags-mask {
        position: absolute;
        top: 0;
        left: 0;
        .tags-item {
          width: 51rpx;
          height: 49rpx;
          position: relative;
          > image {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
          > text {
            font-size: 18rpx;
            display: inline-block;
            width: 100%;
            color: #fff;
            text-align: center;
            line-height: 49rpx;
            position: relative;
            z-index: 2;
          }
        }
      }
      > image {
        width: 150rpx;
        height: 150rpx;
        border-radius: 8rpx;
        display: block;
      }
    }
    >.goods-item-info {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      min-height: 258rpx;
      border-bottom: 1rpx solid #eee;
      .goods-item-info-top {
        .goods-titles {
          line-height: 1.2;
          font-size: 30rpx;
          margin-bottom: 14rpx;
          color: #242424;
          overflow: hidden;
          > text{
            font-size: 30rpx;
            vertical-align: middle;
          }
          > .icon-tag{
            vertical-align: middle;
            margin-right: 6rpx;
            overflow: hidden;
            font-size: 22rpx;
            line-height: 26rpx;
            color: #fff;
            display: inline-block;
            height: 28rpx;
            text-align: center;
            border-radius: 4rpx;
            padding: 2rpx 6rpx;
            background-color: #FF6010;
            position: relative;
          }
        }
        .goods-sku {
          line-height: 1.2;
          margin-top: 8rpx;
          font-size: 24rpx;
          color: #999999;
          > text:not(:last-child)::after {
            content: " | ";
          }
        }
        .goods-limt {
          margin-top: 10rpx;
          color: #FF6010;
          font-size: 16rpx;
          display: flex;
          flex-wrap: wrap;
          > text {
            display: inline-block;
            border-radius: 4rpx;
            border: 1rpx solid #FF6010;
            padding: 2rpx 4rpx;
            margin-right: 6rpx;
          }
        }
      }
      >.goods-item-info-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16rpx;
      }
    }
  }
}


.store-type {
  font-size: 18rpx;
  color: #989797;
  margin-top: 6rpx;
  .type-label {
    color: #FFF;
    background: #FF8F1F;
    border-radius: 4rpx;
    padding: 0rpx 3rpx;
    margin-right: 6rpx;
  }
  .type-label-self {
    background: #FF6010;
  }
}