/*
此文件为开发者工具生成，生成时间: 2020/8/30 下午10:07:03 

在 pages/itemList/itemList.wxss 中引入样式
```
@import "./itemList.skeleton.wxss";
```

更多详细信息可以参考文档：https://developers.weixin.qq.com/miniprogram/dev/devtools/skeleton.html
*/
.sk-transparent {
  color: transparent !important;
}
.sk-text-23-0769-520 {
  background-image: linear-gradient(transparent 23.0769%, #EEEEEE 0%, #EEEEEE 76.9231%, transparent 0%) !important;
  background-size: 100% 47.1014rpx;
  position: relative !important;
}
.sk-text {
  background-origin: content-box !important;
  background-clip: content-box !important;
  background-color: transparent !important;
  color: transparent !important;
  background-repeat: repeat-y !important;
}
.sk-text-23-0769-511 {
  background-image: linear-gradient(transparent 23.0769%, #EEEEEE 0%, #EEEEEE 76.9231%, transparent 0%) !important;
  background-size: 100% 47.1014rpx;
  position: relative !important;
}
.sk-text-18-7500-967 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 40.5797rpx;
  position: relative !important;
}
.sk-text-18-7500-850 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 40.5797rpx;
  position: relative !important;
}
.sk-text-18-7500-463 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 40.5797rpx;
  position: relative !important;
}
.sk-text-18-7500-591 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 40.5797rpx;
  position: relative !important;
}
.sk-text-18-7500-838 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 40.5797rpx;
  position: relative !important;
}
.sk-text-18-7500-384 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 40.5797rpx;
  position: relative !important;
}
.sk-text-18-7500-34 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 40.5797rpx;
  position: relative !important;
}
.sk-text-18-7500-534 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 40.5797rpx;
  position: relative !important;
}
.sk-text-18-7500-2 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 40.5797rpx;
  position: relative !important;
}
.sk-text-18-7500-388 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 40.5797rpx;
  position: relative !important;
}
.sk-text-31-2500-316 {
  background-image: linear-gradient(transparent 31.2500%, #EEEEEE 0%, #EEEEEE 68.7500%, transparent 0%) !important;
  background-size: 100% 72.4638rpx;
  position: relative !important;
}
.sk-text-8-3333-729 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 34.7826rpx;
  position: relative !important;
}
.sk-text-8-3333-895 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 28.2609rpx;
  position: relative !important;
}
.sk-text-8-3333-893 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 28.2609rpx;
  position: relative !important;
}
.sk-text-8-3333-748 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 28.2609rpx;
  position: relative !important;
}
.sk-text-8-3333-437 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 28.2609rpx;
  position: relative !important;
}
.sk-text-18-7500-934 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 23.1884rpx;
  position: relative !important;
}
.sk-text-18-7500-375 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 23.1884rpx;
  position: relative !important;
}
.sk-text-18-7500-681 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 37.6812rpx;
  position: relative !important;
}
.sk-text-18-7500-582 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 26.0870rpx;
  position: relative !important;
}
.sk-text-18-7500-443 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 26.0870rpx;
  position: relative !important;
}
.sk-text-31-2500-516 {
  background-image: linear-gradient(transparent 31.2500%, #EEEEEE 0%, #EEEEEE 68.7500%, transparent 0%) !important;
  background-size: 100% 72.4638rpx;
  position: relative !important;
}
.sk-text-8-3333-922 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 34.7826rpx;
  position: relative !important;
}
.sk-text-8-3333-700 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 28.2609rpx;
  position: relative !important;
}
.sk-text-8-3333-572 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 28.2609rpx;
  position: relative !important;
}
.sk-text-8-3333-12 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 28.2609rpx;
  position: relative !important;
}
.sk-text-18-7500-767 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 23.1884rpx;
  position: relative !important;
}
.sk-text-18-7500-600 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 23.1884rpx;
  position: relative !important;
}
.sk-text-18-7500-239 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 37.6812rpx;
  position: relative !important;
}
.sk-text-18-7500-741 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 26.0870rpx;
  position: relative !important;
}
.sk-text-8-3333-451 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 34.7826rpx;
  position: relative !important;
}
.sk-text-8-3333-949 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 28.2609rpx;
  position: relative !important;
}
.sk-text-8-3333-441 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 28.2609rpx;
  position: relative !important;
}
.sk-text-8-3333-944 {
  background-image: linear-gradient(transparent 8.3333%, #EEEEEE 0%, #EEEEEE 91.6667%, transparent 0%) !important;
  background-size: 100% 28.2609rpx;
  position: relative !important;
}
.sk-text-18-7500-601 {
  background-image: linear-gradient(transparent 18.7500%, #EEEEEE 0%, #EEEEEE 81.2500%, transparent 0%) !important;
  background-size: 100% 23.1884rpx;
  position: relative !important;
}
.sk-image {
  background: #EFEFEF !important;
}
.sk-pseudo::before, .sk-pseudo::after {
    background: #EFEFEF !important;
    background-image: none !important;
    color: transparent !important;
    border-color: transparent !important;
  }
.sk-pseudo-rect::before, .sk-pseudo-rect::after {
    border-radius: 0 !important;
  }
.sk-pseudo-circle::before, .sk-pseudo-circle::after {
    border-radius: 50% !important;
  }
.sk-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
}
