.show-select{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

view, navigator, text {
  box-sizing: border-box;
}

.index-header {
  position: relative;
  background-image: linear-gradient(180deg, #FFE05C 0%, #FDCB22 100%);
  .search-box {
    height: 64rpx;
    width: 100%;
    .search {
      height: 64rpx;
      width: 690rpx;
      margin: 0 auto;
      background: #fff;
      border-radius: 32rpx;
      padding: 0 28rpx;
      display: flex;
      align-items: center;
      >.search-icon {
        width: 28rpx;
        height: 28rpx;
        margin-right: 12rpx;
      }
      >.search-placeholder {
        opacity: 0.89;
        font-size: 28rpx;
        color: #989797;
      }
    }
  }
  .banner {
    width: 700rpx;
    height: 280rpx;
    margin:16rpx auto 32rpx;
    overflow: hidden;
    border-radius: 16rpx;
    z-index: 9;
    position: relative;
    background: #F7F7F8;
    image {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 16rpx;
    }
  }
  .bottom-ph-bg {
    width: 100%;
    height: 120rpx;
    position: absolute;
    bottom: 0;
    background: #fff;
    border-top-left-radius: 30rpx;
    border-top-right-radius: 30rpx;
  }
}

.close-store {
  display: flex;
  align-items: center;
  width: 700rpx;
  height: 60rpx;
  margin: 0 auto;
  background: #FFF9E7;
  border-radius: 10rpx;
  >image {
    width: 32rpx;
    height: 32rpx;
    display: block;
    margin: 0 30rpx 0 17rpx;
  }
  > text {
    font-size: 24rpx;
    color: #616161;
  }
}

.tags-list {
  width: 700rpx;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .tags-item {
    width: 25%;
    height: 182rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    image {
      width: 102rpx;
      height: 102rpx;
      display: block;
      margin-bottom: 10rpx;
    }
    text {
      font-size: 26rpx;
      font-weight: 400;
      color: #616161;
    }
  }
}

.hot-sale-entry {
  width: 700rpx;
  height: 170rpx;
  margin: 0 auto;
  // margin-bottom: 22rpx;
  margin-top: 20rpx;
  image {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 16rpx;
  }
}

.title-box {
  display: flex;
  margin-bottom: 24rpx;
  .title-box-body {
    margin: auto;
    margin-top: 39rpx;
    position: relative;
    .title {
      font-family: "PingFangSC-Semibold";
      font-size: 36rpx;
      color: #151515;
      letter-spacing: 2.25px;
      background: transparent;
      z-index: 2;
      position: relative;
    }
    .base-line {
      position: absolute;
      bottom: 8rpx;
      right: 6rpx;
      display: inline-block;
      width: 140rpx;
      height: 8rpx;
      background: #FFD426;
    }
  }
}

.goods-list {
  width: 700rpx;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .goods-item{
    width: 340rpx;
    border-radius: 10rpx;
    margin-bottom: 24rpx;
    box-shadow: 4rpx 0 16rpx rgba($color: #000000, $alpha: 0.08);
    line-height: 1.25;
    .goods-item-img {
      width: 340rpx;
      height: 340rpx;
      position: relative;
      > image {
        width: 100%;
        height: 100%;
        display: block;
        border-top-left-radius:10rpx;
        border-top-right-radius: 10rpx;
      }
      .tags-mask {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        left: 0;
        .tags-item {
          width: 64rpx;
          height: 62rpx;
          margin-right: 8rpx;
          position: relative;
          > image {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
          > text {
            font-size: 24rpx;
            display: inline-block;
            width: 100%;
            color: #fff;
            text-align: center;
            line-height: 62rpx;
            position: relative;
            z-index: 2;
          }
        }
      }
    }
    .goods-item-info {
      position: relative;
      min-height: 286rpx;
      padding: 12rpx 16rpx 16rpx 16rpx;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .goods-item-info-top {
        .goods-title {
          font-size: 28rpx;
          color: #333333;
        }
        .goods-sku {
          margin-top: 8rpx;
          font-size: 24rpx;
          color: #999999;
          > text:not(:last-child)::after {
            content: " | ";
          }
        }
        .goods-limt {
          margin-top: 10rpx;
          color: #FF6010;
          font-size: 16rpx;
          display: flex;
          flex-wrap: wrap;
          > text {
            display: inline-block;
            border-radius: 4rpx;
            border: 1rpx solid #FF6010;
            padding: 2rpx 4rpx;
            margin-right: 6rpx;
          }
        }
      }
      .goods-item-info-bottom {

        display: flex;
        align-items: center;
        justify-content: space-between;

        .store-type {
          font-size: 18rpx;
          color: #989797;
          .type-label {
            color: #FFF;
            background: #FF8F1F;
            border-radius: 4rpx;
            padding: 0rpx 3rpx;
            margin-right: 6rpx;
          }
          .type-label-self {
            background: #FF6010;
          }
        }
      }
  
      .cart-wrapper {
          // position: absolute;
          // bottom: 22rpx;
          // right: 22rpx;
      }
    }

  }
}

.load-more, .load-none{
  background:#fff;
  color: #EEE;
}

.notice{
  padding: 0 24rpx;
box-shadow: 0 0 6rpx #eee;
position: absolute;
width: 464rpx;
height: 54rpx;
top: 162rpx;
left:25rpx;
z-index: 10;
background: rgba(0,0,0,0.75);
color: white;
border-radius: 27rpx;
font-size: 18rpx;
padding-top: 14rpx;

}
.notice_text{
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  top:24rpx;
  
}
.notice_logo{
  font-size: 28rpx;
  font-weight: bold;
color: #151515;
margin-right: 33rpx;
}
.notice_label{
  background: #FF6010;
  border-radius: 4rpx;
  color:white;
  font-size: 20rpx;
  padding: 0 2rpx;
  margin-left:24rpx;
  margin-right: 12rpx;
}
.notice_right{
 width: 14rpx;
height: 18rpx;

}
