@import "./index.skeleton.scss";

.show-select{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

view, navigator, text {
  box-sizing: border-box;
}

.index-header {
  position: relative;
  background-image: linear-gradient(180deg, #FFE05C 0%, #FDCB22 100%);
  .search-box {
    height: 64rpx;
    width: 100%;
    .search {
      height: 64rpx;
      width: 690rpx;
      margin: 0 auto;
      background: #fff;
      border-radius: 32rpx;
      padding: 0 28rpx;
      display: flex;
      align-items: center;
      >.search-icon {
        width: 28rpx;
        height: 28rpx;
        margin-right: 12rpx;
      }
      >.search-placeholder {
        opacity: 0.89;
        font-size: 28rpx;
        color: #989797;
      }
    }
  }
  .banner {
    width: 700rpx;
    height: 280rpx;
    margin:16rpx auto 32rpx;
    overflow: hidden;
    border-radius: 16rpx;
    z-index: 9;
    position: relative;
    background: #F7F7F8;
    image {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 16rpx;
    }
  }
  .bottom-ph-bg {
    width: 100%;
    height: 120rpx;
    position: absolute;
    bottom: 0;
    background: #fff;
    border-top-left-radius: 30rpx;
    border-top-right-radius: 30rpx;
  }
}

.close-store {
  display: flex;
  align-items: center;
  width: 700rpx;
  height: 60rpx;
  margin: 0 auto;
  background: #FFF9E7;
  border-radius: 10rpx;
  >image {
    width: 32rpx;
    height: 32rpx;
    display: block;
    margin: 0 30rpx 0 17rpx;
  }
  > text {
    font-size: 24rpx;
    color: #616161;
  }
}

.tags-list-body{
  width: 700rpx;
  margin: 0 auto;
  overflow: hidden;
}
.tags-list-step-body{
  background: rgba($color: #FFD426, $alpha: .2);
  width: 60rpx;
  height: 8rpx;
  margin: 0 auto;
  border-radius: 4rpx;
  position: relative;
  top: -5rpx;
  overflow: hidden;
  >.step{
    width: 30rpx;
    height: 8rpx;
    background: #FFD426;
    border-radius: 4rpx;
  }
}
.tags-list {
  max-height: 364rpx;
  white-space: nowrap;
  width: max-content;
  >.left, >.right{
    float: left;
    display: flex;
    flex-wrap: wrap;
    max-height: 364rpx;
    &.left{
      width: 700rpx;
    }
    &.right{
      width: auto;
      flex-direction: column;
    }
    >.tags-item {
      width: 175rpx;
      height: 182rpx;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      >image {
        width: 102rpx;
        height: 102rpx;
        display: block;
        margin-bottom: 10rpx;
      }
      >text {
        font-size: 26rpx;
        font-weight: 400;
        color: #616161;
      }
    }
  }
}

.cards{
  width: 700rpx;
  margin: 40rpx auto 0;
  display: flex;
  justify-content: space-between;
  border-radius: 10rpx;
  overflow: hidden;
  box-shadow: 0 4rpx 16rpx 0 rgba($color: #000, $alpha: 0.04);
  >.item{
    height: 233.33rpx;
    flex: 1;
    border-right: 1rpx solid #FAF8F8;
    &:last-child{
      border-right: 0;
    }
    >.image{
      display: block;
    }
  }
}

.hot-sale-entry {
  width: 700rpx;
  height: 170rpx;
  margin: 40rpx auto 0;
  image {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 16rpx;
  }
}

.title-box-body {
  margin: 39rpx auto 24rpx;
  text-align: center;
  position: relative;
  >.title {
    font-size: 36rpx;
    line-height: 36rpx;
    color: #151515;
    position: relative;
    z-index: 1;
  }
  >.base-line {
    width: 120rpx;
    height: 8rpx;
    background: #FFD426;
    display: block;
    position: absolute;
    bottom: 6rpx;
    left: 50%;
    margin-left: -60rpx;
  }
}

.goods-list {
  width: 700rpx;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .goods-item{
    width: 340rpx;
    border-radius: 10rpx;
    margin-bottom: 24rpx;
    box-shadow: 4rpx 0 16rpx rgba($color: #000, $alpha: 0.08);
    height: 626rpx;
    .goods-item-img {
      width: 340rpx;
      height: 340rpx;
      position: relative;
      > image {
        width: 100%;
        height: 100%;
        display: block;
        border-top-left-radius: 10rpx;
        border-top-right-radius: 10rpx;
      }
      .tags-mask {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        left: 0;
        .tags-item {
          width: 64rpx;
          height: 62rpx;
          margin-right: 8rpx;
          position: relative;
          > image {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
          > text {
            font-size: 22rpx;
            display: inline-block;
            width: 100%;
            color: #fff;
            text-align: center;
            line-height: 62rpx;
            position: relative;
            z-index: 2;
          }
        }
      }
    }
    .goods-item-info {
      position: relative;
      min-height: 286rpx;
      padding: 12rpx 16rpx 16rpx;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      >.goods-item-info-top {
        height: 154rpx;
        margin-bottom: 16rpx;
        >.goods-title {
          font-size: 28rpx;
          color: #333;
          line-height: 40rpx;
          margin-bottom: 8rpx;
        }
        >.goods-sku {
          font-size: 24rpx;
          color: #999;
          line-height: 34rpx;
          > text:not(:last-child)::after {
            content: " | ";
          }
        }
      }
      .goods-item-info-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

  }
}

.store-type {
  font-size: 18rpx;
  color: #989797;
  margin-top: 6rpx;
  .type-label {
    color: #FFF;
    background: #FF8F1F;
    border-radius: 4rpx;
    padding: 0rpx 3rpx;
    margin-right: 6rpx;
  }
  .type-label-self {
    background: #FF6010;
  }
}
.load-more, .load-none{
  background:#fff;
  color: #EEE;
}

.notice{
  padding: 0 24rpx;
  box-shadow: 0 0 6rpx #eee;
  position: absolute;
  width: 464rpx;
  height: 54rpx;
  top: 110rpx;
  left:25rpx;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: 27rpx;
  font-size: 24rpx;
  padding-top: 11rpx;
}
.notice_text{
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  top:24rpx;
  
}
.notice_logo{
  font-size: 28rpx;
  font-weight: bold;
  color: #151515;
  margin-right: 33rpx;
}
.notice_label{
  background: #FF6010;
  border-radius: 4rpx;
  color:white;
  font-size: 20rpx;
  padding: 0 2rpx;
  margin-left:24rpx;
  margin-right: 12rpx;
}
.notice_right{
  width: 14rpx;
  height: 18rpx;
}

.coupon-entry-fixed {
  position: fixed;
  bottom: 114rpx;
  right: 0;
  width: 118rpx;
  height: 162rpx;
  > image {
    width: 118rpx;
    height: 162rpx;
    display: block;
  }
}