/*文字太宽加....*/
.add-dot {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display: block;
}
/*链接样式*/
.link-active:active{
  background: #f3f4f6;
}


.select-store{
  overflow: hidden;
  height: 55rpx;
  padding: 0 29rpx;
  display: flex;
  align-items: center;
  >.location{
    margin-right: 12rpx;
    >image{
      display: block;
      width: 34rpx;
      height: 34rpx;
    }
  }
  >.title{
    font-size: 32rpx;
  }
  >.down{
    margin-left: 6rpx;
    >image{
      display: block;
      width: 32rpx;
      height: 32rpx;
    }
  }
}

.store-body{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 10;
  >.store{
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top-left-radius: 30rpx;
    border-top-right-radius: 30rpx;
    animation: store-bottom .3s;
    overflow: hidden;
    >.title{
      height: 153rpx;
      position: relative;
      margin: 0 30rpx;
      > .str{
        font-size: 38rpx;
        font-weight: bold;
        text-align: center;
        padding-top: 60rpx;
        padding-bottom: 62rpx;
      }
      > .close-btn{
        width: 42rpx;
        height: 42rpx;
        position: absolute;
        right: 0rpx;
        top: 60rpx;
        > image{
          width: 24rpx;
          height: 24rpx;
          margin: 10rpx 0 0 10rpx;
        }
      }
    }
    >.content{
      max-height: 600rpx;
      overflow-y: auto;
      padding-bottom: 120rpx;
      .item{
        display: flex;
        border-bottom: 1rpx solid #eee;
        padding: 35rpx 0;
        align-items: center;
        position: relative;
        margin: 0 30rpx;
        >.left{
          flex: 1;
          > .store-title{
            font-size: 30rpx;
            font-weight: bold;
          }
          > .store-address{
            font-size: 26rpx;
            color: #a5a5a5;
          }
        }
        >.right{
          text-align: right;
          flex: initial;
          width: 90rpx;
          text-align: right;
          > image{
            width: 38rpx;
            height: 38rpx;
          }
        }
      }
    }
    >.btn{
      margin: 20rpx 30rpx;
      .btn1{
        background: #FFD426;
        font-size: 32rpx;
        color: #fff;
        border-radius: 100rpx;
        height: 80rpx;
        line-height: 80rpx;
        &:active{
          opacity: 0.7;
        }
        &::after{
          border: 0;
        }
      }
    }
  }
}

@keyframes store-bottom
{
  from {bottom: -1000rpx;}
  to {bottom: 0;}
}

.freight_item{
  height: 88rpx;
  display: flex;
  align-items: center;
  padding-left: 71rpx;
  padding-right: 71rpx;
}
.freight_item--label{
  font-size: 30rpx;
  color: #989797;
  margin-right: 97rpx;
  flex-shrink: 0;

}
.freight_item--value{
  // margin-right: 84rpx;
  font-size: 30rpx;
color: #242424;
}
.freight_all{
  margin-top:21rpx;
  padding-left: 71rpx;
  line-height:110rpx;
  display: flex;
  justify-content: space-between;
  padding-right: 71rpx;
  border-top: 1rpx solid #eee;
}
.freight_item--box{
  display: flex;
  flex:1;
  justify-content: space-between;
  align-items: align-center;
}