/* pages/shop/shop.wxss */
.item{
  position: relative;
  padding: 24rpx 30rpx;
  border-bottom: 1rpx solid #f3f4f6;
  .title{
    margin-bottom: 4rpx;
    display: flex;
    >.left{
      font-size: 30rpx;
      font-weight: bold;
      color: #242424;
      flex: 1;
    }
    >.right{
      flex: initial;
      padding-left: 10rpx;
      >.frame-num{
        font-size: 26rpx;
        color: #A5A5A5;
      }
      >.is-freeze{
        font-size: 22rpx;
        color:#A7A7A7;
        border:1px solid #ccc;
        padding:0 5rpx;
        border-radius:5rpx;
      }
    }
  }
  > .name-phone{
    color: #242424;
    display: flex;
    font-size: 26rpx;
    margin-top: 20rpx;
    margin-bottom: 8rpx;
    text{
      margin-left: 70rpx;
    }
  }
  > .address{
    color: #242424;
    font-size: 24rpx;
    margin-bottom: 14rpx;
    width: 80%;
  }
  
  .location {
    position: absolute;
    bottom: 34rpx;
    right: 30rpx;
  }
}