/* pages/password/password.wxss */
.input-view  .input-item{
    font-size: 32rpx;
}
.input-view  .input-item .title{
    color: #3D4552;
}

.option-bottom{
    padding: 0;
}
.option-bottom button{
    background-image: linear-gradient(128deg, #FFA427 0%, #FF6020 100%);
    border-radius: 0;
}