.input-item{
  &.discount-item{
    align-items: flex-start;
  }
  &.reduction-item {
    align-items: flex-start;
  }
  >.title{
    >text{
      font-size: 26rpx;
      position: relative;
      line-height: 40rpx;
      width: 72rpx;
      text-align: center;
      color: #FF6868;
      display: block;
      &::after{
        transform: scale(0.5);
        border: 1px solid #FF6868;
        transform-origin: 0 0;
        display: flex;
        box-sizing: border-box;
        content:' ';
        position: absolute;
        top:0;
        left: 0;
        width: 200%;
        height: 200%;
        border-radius: 12rpx;
      }
      &.minus{
        color: #FFA349;
        // &::after{
        //   border: 1px solid #FFA349;
        // }
      }
    }
  }
}
.discount{
  background: #FFECE3;
  border-radius:4rpx;
  color:#FF6010;
  border-radius: 4rpx;
}
.img-view {
  width: 100%;
  height: 100vw;
  position: relative;
  >.video-view{
    position: absolute;
    z-index: 2;
    background: #000;
    width: 100vw;
    height: 750rpx;
    >video{
      width: 100vw;
      height: 640rpx;
    }
    >.stop-btn{
      background: #D8D8D8;
      width: 156rpx;
      height: 52rpx;
      text-align: center;
      line-height: 52rpx;
      color: #242424;
      font-size: 24rpx;
      border-radius: 52rpx;
      margin: 20rpx auto 0;
    }
  }
  >.temp-img{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  >swiper{
    width: 100%;
    height: 750rpx;
    .img-item{
      >.play-view{
        position: absolute;
        width: 120rpx;
        height: 120rpx;
        top: 50%;
        left: 50%;
        margin: -60rpx 0 0 -60rpx;
      }
      >.slide-image {
        width: 100%;
        height: 100vw;
      }
    }
  }
}



.dotwrap {
  position: absolute;
  bottom: 30rpx;
  right: 30rpx;
  opacity: 0.6;
  background: #9d9990;
  border-radius: 100rpx;
  width: 70rpx;
  height: 40rpx;
  font-size: 20rpx;
  color: #fff;
  text-align: center;
  line-height: 40rpx;
}

.mark{
  position: absolute;
  z-index: 2;
  top: 30rpx;
  left: 30rpx;
  overflow: hidden;
  text{
    color: #fff;
    width: 80rpx;
    height: 80rpx;
    line-height: 80rpx;
    text-align: center;
    border-top-left-radius: 80rpx;
    border-bottom-left-radius: 80rpx;
    border-bottom-right-radius: 80rpx;
    font-size: 44rpx;
    float: left;
    margin-right: 14rpx;
    &.is-presale{
      background: #FFA349;
    }
  }
}

.item-title {
  font-size: 38rpx;
  padding: 30rpx 0 20rpx 30rpx;
  display: flex;
  align-items: center;
  > .tags{
    overflow: hidden;
    > .tag{
      overflow: hidden;
      font-size: 32rpx;
      height: 42rpx;
      line-height: 42rpx;
      color: #FF6868;
      background-color: #FFE2E2;
      padding: 0 6rpx;
      margin-right: 8rpx;
      float: left;
    }
  }
  > .title{
    margin-left: 4rpx;
    font-size: 38rpx;
    flex: 1;
  }
  > .share{
    width: 108rpx;
    >button{
      background: #00AE66;
      font-size: 28rpx;
      padding: 0;
      box-shadow: 0;
      color: #fff;
      height: 50rpx;
      line-height: 50rpx;
      font-size: 26rpx;
      border-radius: 25rpx 0 0 25rpx;
      &::after{
        border: 0;
      }
      image{
        width: 28rpx;
        height: 31rpx;
        position: relative;
        top: 2rpx;
        margin-left: 8rpx;
        margin-right: 8rpx;
      }
    }
  }
}

.repertory-price {
  display: flex;
  align-items: flex-end;
  margin: 0 30rpx 50rpx;
  >.price-unit {
    flex: 1;
    //原价
    >.price-origin{
      color: #C7C7C7;
      font-size: 22rpx;
      text-decoration: line-through;
    }
    >.price{
      font-size: 40rpx;
      color: #ff5252;
      >.icon{
        margin-right: 6rpx;
      }
    }
    //未报价
    > text {
      color: #999;
      font-size: 28rpx;
    }
    .min-num{
      font-size: 24rpx;
      border: 1rpx solid #FF6868;
      padding: 4rpx;
      color: #FF6868;
      line-height: 24rpx;
      display: inline-block;
      border-radius: 8rpx 8rpx 8rpx 0;
      margin-left: 10rpx;
      position: relative;
      top: -6rpx;
      font-weight: normal;
    }
  }
  >.repertory {
    text-align: right;
    color: #999;
    font-size: 24rpx;
  }
}

.introduce {
  padding: 0 24rpx 24rpx 24rpx;
  font-size: 24rpx;
  color: #666;
  border-top: 32rpx solid #f9f8f8;
  > .dec-title {
    font-size: 28rpx;
    color: #242424;
    padding-bottom:22rpx;
  }
  .dec-video{
    width: 100%;
  }
}
.introduce_common{
  padding-top: 24rpx;
}
.btn-view {
  z-index: 1;
  height: 120rpx;
  background: #fff;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1rpx solid #e5e5e5;
  align-items: center;
  > view, > navigator {
    flex: 1;
  }
  > .btn-mini {
    color: #999;
    font-size: 16rpx;
    text-align: center;
    position: relative;
    flex: 1;
    height: 120rpx;
    > image {
      width: 50rpx;
      height: 50rpx;
      margin: 0 auto;
      display: block;
      margin-top: 36rpx;
    }
    > .sh-cart-num {
      position: absolute;
      z-index: 2;
      top: 10rpx;
      left: 56%;
      background: #ff5252;
      color: #fff;
      padding: 0 12rpx;
      border-radius: 16rpx;
      font-size: 22rpx;
      height: 34rpx;
      line-height: 34rpx;
    }
  }
  > .btn-join {
    flex: initial !important;
    width: 380rpx;
    padding: 0 30rpx 0 50rpx;
    //禁用
    >.unjoin-shopping-btn {
      background: #D0DBD7;
      width: 100%;
      height: 88rpx;
      line-height: 88rpx;
      font-size: 32rpx;
      color: #fff;
      text-align: center;
      border-radius: 88rpx;
    }
  }
}

.table {
  padding: 0 30rpx;
  background: #fcfcfc;
}

.title-table {
  font-size: 28rpx;
  color: #242424;
  padding: 50rpx 30rpx 22rpx;
}

.td {
  display: flex;
  view {
    flex: 1;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    padding: 30rpx 8rpx 30rpx 0;
    text {
      flex: 2;
      font-size: 30rpx;
      &.name {
        color: #999;
        flex: 1.5;
      }
    }
    &:first-child {
      border-right: none;
    }
    &:last-child {
      padding-left: 30rpx;
    }
  }
}

.goods_info{
  padding: 0 24rpx;
  padding-top:10rpx;
  position: relative;
  // border-top: 32rpx solid #f9f8f8;
}
.goods_top{
  height: 108rpx;
}
.goods_info--more{
  padding-bottom: 30rpx;

}


.goods_top--price{
  color: #FF3B30;
  font-family: PingFangSC-Medium;
 
}
.goods_top--money{
  font-size: 60rpx;
}
.goods_top--symbol{
  font-size: 32rpx;
}
.goods_top--weight{
  font-size: 28rpx;
  color: #989797;
  margin-left: 16rpx;
}
.share_btn{
  color:white;
  font-size: 28rpx;
  border-radius: 50rpx;
  padding-left: 14rpx;
  padding-right: 14rpx;
  height:62rpx;
  position: absolute;
  z-index: 10;
  top: 32rpx;
  right: 22rpx;
  background: rgba(0, 0, 0, 0.5) !important;
  &::after{
    border:none !important;
  }
}
.goods_info--title{
  font-family: PingFangSC-Medium;
  font-size: 36rpx;
  color: #333333;
}
.goods_info--tag {
  height: 78rpx;
}
.tag_item{
  border-radius: 4rpx;
  padding: 0 10rpx;
  line-height:32rpx;
  margin-right: 8rpx;
  font-size: 22rpx;
  color:white;
}
.goods_info--limit{
  border-top:1rpx solid #eee;
  font-size: 24rpx;
  color: #A5A5A5;
  .cicle{
    width: 4rpx;
    height: 4rpx;
    border-radius: 50%;
    background: #A5A5A5;
    margin: 0 14rpx;
  }
}
.goods_info--weight{
  height: 64rpx;
  border-bottom: 1rpx solid #F9F8F8;
}
.laberl_item--right{
  margin-right: 169rpx;
}
.goods_info--label{
  font-size: 24rpx;
  color: #989797;
  width: 144rpx;
  flex-shrink: 0;
}
.goods_info--label--auto_width{
  width:auto!important;
  margin-right:28rpx;
}
.goods_info--label--top{
  width:80rpx;
}
.goods_info--label--reback{
  width: 200rpx;
}
.goods_info--value{
  font-size: 24rpx;
  color: #151515;
  margin-right: 24rpx;
}
.send_title{
  margin-right: 20rpx;
  flex-shrink:0;
}
.activity-item{
  border-bottom: 1rpx solid #eee;
  font-size: 28rpx;
  height: 88rpx;
  // padding: 35rpx 0;
  .content{
    margin-left:28rpx;
    // text-align: right;
    color: #242424;
  }
  .title{
    flex: initial !important;
    min-width: 86rpx;
    color: #808080;
    text{
      font-size: 26rpx;
      position: relative;
      line-height: 40rpx;
      width: 72rpx;
      text-align: center;
      color: #FF6868;
      display: block;
    }
    text::after{
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      // border: 1px solid #FF6868;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      border-radius: 12rpx;

    }
  }
  .discount-item {
    align-items: flex-start;

  }
}
.goods_header{
  font-size: 30rpx;
  color: #333333;
  padding:20rpx 0;
}
.goods_header--attr{
  padding-left: 24rpx!important;

}
.goods_attr{
  border-top: 24rpx solid #f9f8f8;
  // padding: 0 24rpx 24rpx 24rpx;
}
.goods_attr--item{
  width: 366rpx;
}
.goods_attr--box{
  min-height: 82rpx;
}
.pl24{
  
  padding-left: 24rpx;
}
.goods_attr--box--more{
  height: 104rpx !important;
}
.goods_info--label--max {
  min-height: 82rpx;
  padding: 4rpx 0;
}
.goods_attr--box--gray{
  background: #FAFCFD;
}


.goods_reback{
  border-top: 32rpx solid #f9f8f8;
  padding: 0 24rpx;
}
.start_image{
  width:28rpx;
  height:28rpx;
  margin-right:8rpx;
}

.vip_card{
  font-size: 18rpx;
  margin-left: 14rpx;
  margin-bottom: 4rpx;
}


.vip_card--discount{
  
  border-left: none;
  color: #01B8FF;
  display: inline-block;
  padding:0 8rpx;
  border-bottom-right-radius: 4rpx;
  border-top-right-radius: 4rpx;
   border: 1px solid #01B8FF;
   border-left:none;
}

.card_discount--1{
  color:#D79E5C;
  border: 1px solid #D79E5C;
   border-left:none;
}
.card_discount--2{
  color:#989797;
  border: 1px solid #989797;
   border-left:none;
}
.card_discount--3{
  color:#FDBD1C;
  border: 1px solid #FDBD1C;
   border-left:none;
}
.card_discount--4{
  color:#E5BB72;
  border: 1px solid #E5BB72;
   border-left:none;
}

.no_sale{
  margin-top: 240rpx;
  text-align: center;
}
.backHome{
  background-color: #FDCA1F;
  color: white;
  width: 200rpx;
  margin: 0 auto;
  margin-top: 40rpx;
  border-radius: 10rpx;
  line-height: 60rpx;

}
.other_price{
  font-size: 28rpx;
  color: #989797;
  position: absolute;
  top: 100rpx;
left: 28rpx;

}

.origin_price{
  text-decoration: line-through;
  color: #989797;
  margin-left: 16rpx;
}
.cart_num{
  height:81rpx !important;
  line-height:81rpx !important;
}

.store-type {
  font-size: 22rpx;
  color: #989797;
  .type-label {
    border-radius: 4rpx;
  padding: 0 10rpx;
  line-height:32rpx;
  margin-right: 8rpx;
  font-size: 22rpx;
  color:white;
  }
  .type-label-self {
    background: #FF6010;
  }
  .type-label-vendor{
    background:#FF8F1F;

  }
  .type-label-spplier{
    margin-top:4rpx;
  }
}
.activity-coupon-item{
  height: 88rpx;
}
.coupon_item{
font-size: 28rpx;
  color: #FB5853;
  margin-right: 16rpx;
  border-radius: 4rpx;
  padding:0rpx 12rpx;
  position: relative;
  background-size: 100% 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJ4AAAAsCAMAAACjWfE3AAAAb1BMVEUAAAD8WVP8WFT8WVT7WVT9WlT/WVn8WFP/oGD9WFP8WFP7WVT8WFT8WVP8WFP9WFT/W1X/W1v////7WFP+wb/+vbv/9PT9n5z8aWT8Wlb9iYX9gn//+vr/4uH+sK78Y17+x8X9qqj9paL9oZ78dXE87/ZwAAAAEnRSTlMAkPnozD4U9QJv58u/spx8LQ5rAAgfAAAA9ElEQVRYw+3ZSa6DMBBF0WfA2KRPFQZMm27/a/xI+UmmkTJ5A58VXBkJW1UASlNkSicrTImVzbs21HRC2+UWKPO+EUpNn5cwHWnd2tcZFK3QagtkQWiFDFoLrVpTXsr7SsqjkvJ+zWO+NRQah0koTUNU2GobZyE0x21lAfijXoTORY8eT4eF7s3XLAe8nB3d553dGW+7QcgMO3yYh5B5GHzs+U5vjze/uQuZ+8bjpYp0f+YpVvhn3VXoXJ3Fyp9M7EehM/bRnDycLqSPgrCog94Ij+5pvPG/91JeyvtCyqPCn0c+fiQf3pKPvskXB+RrF+6l1R/x4OWIHunVGgAAAABJRU5ErkJggg==);

  }

  .activity-coupon-item{
    .get{
      font-size: 24rpx;
      color: #989797;
      flex-shrink:0;
    }
  }

  .goods_header--conetnt{
    height:89rpx;
  }

  .goods_info_points{
    font-size: 28rpx;
    color: #989797
  }
  .goods_value--weight{
    font-size: 28rpx;
color: #151515;
margin-right:48rpx;
  }
  .goods_info--delivery{
    font-size: 24rpx;
color: #A5A5A5;
  }

  .bottom-border2{
    border-bottom: 20rpx solid #F7F7F8;
  }
  
  .goods_content{
    padding: 0 24rpx;
  }