.page-live {
  .living {
    color: #EE5B7D;
    position: relative;
    padding-left: 40rpx;

    &:before {
      position: absolute;
      display: inline-block;
      content: '';
      left: 0;
      top: 5rpx;  // 行高 / 2
      width: 24rpx;
      height: 24rpx;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAYAAADafVyIAAAAAXNSR0IArs4c6QAAAE5JREFUSA1jZMAD3kXX/odJCy1tZoSxSaGZSFFMjtqhbwELNcIZX9ANgyDC5z1y5ZCDfegH0dD3AQs1IhJfOTX0g2jUBwTTyGgQDXwQAQDhKw73icpv2AAAAABJRU5ErkJggg==") no-repeat center center;
      background-size: contain;
    }
  }

  .soon {
    color: #242424;
    position: relative;
    padding-left: 40rpx;

    &:before {
      position: absolute;
      display: inline-block;
      content: '';
      left: 0;
      top: 5rpx;  // 行高 / 2
      width: 24rpx;
      height: 24rpx;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAm1JREFUSA21lr9LW1EUx333taNLQigVh0KSpk5d/BOKlBZqMrl08R8QHFK6iVvRoeAugribFuyf0MlV2vwQHEqHQtJCBgeT9/r5Pu59vOiNRo0XHufmnnM/5/4459wEM9e0Uqk0b4xZjqLoLWbFIAjmZB7H8W/EKbojdF86nc4vjfta4BusVCpzw+FwE90qX+izyYwN6e+FYbjRbDbleKRdcQD8Has6YJWzrPgC2UA2ABzzJQCcawGL6KroqsjHyD47eo+Tr1kPIw7K5fIaxp8xMEw4pF9n+6fZCZf7HKOObhvbGrqI/nq73d5xdqkDrZxVNVDEGH3EaNsZTSJZXB0nn2TLTmtuJ4kDnTnH8hMDHcuHcXAgRwKg16VfadbJFgwd1wvdiZEVK9+08MNxcNlh80af+r6mucB1tLNiysYoFJGrKHShdd/E24yJIZaYNszNMj9CFI2bLnQSR2KIJaZyyNgkmsGrBqfSHEts3UFRVMX5VOijrKLiPUl/l0TTcOJYYj+6C5DLi908IN8uh+1gMEjzy3Ahafq7SdfIPx5d6szpcPpUfbG1A5WC58TtIrLFN7YRIU/GKjMKy9KIKq5JshNv1YzNvbqOJXZgE+2MbUUoFu6bC/BU/H7AUoQ+MwD1WOwxoJJ7qwLn26YYYokpdlKLCKsNFH0UNRUs38RJxmyxq4klpuYkr1W32+0XCoUTHKww9iqfz5/3er3vk0CdjYWrXMfAV6ikSeKmzyFOmoD/YfCab4n+y1wud4yjvw7ikzpzbHdZ3Bp6vSXrrVZr39mmCeEGHvTJzDh5uEffOZFUCKvk2op7p78t/wG3fHAErVD4SQAAAABJRU5ErkJggg==") no-repeat center center;
      background-size: contain;
    }
  }

  .end {
    color: #808080;
    position: relative;
    padding-left: 40rpx;

    &:before {
      position: absolute;
      display: inline-block;
      content: '';
      left: 0;
      top: 5rpx;  // 行高 / 2
      width: 24rpx;
      height: 24rpx;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAjJJREFUSA21lk9OwkAUxum0JLAwrCXuSIwH8BSSKN2z4QImLhA3UP5sQBYmXoCNe6oJnsIDGBN3hg0rAgkk0NbvG2cIFtQCMkkznTfv/b7yZuYNRuyX1mq1jqbT6QVcskEQZNCnlXvfMIx3vPcSicRjqVT6UPaVzlixwABwejKZ1AApAGyu89E2+Hjw6SSTSQdCfW3X/YpAo9E4933/AUEHCJ7B0UXvWpb1kkqlJGA4HKbn8/kpfHKYz6GPw2ckhMiXy+UnDWf/TaBer18Cfge7QEAXAUUEMBU/NnxQBjFtiNhw8hFzValU7nXAQkB9uQvHAPAbx3Ha2ilKX6vVight0tc0TVv/EinAnGMxX+HAtFxvCtcfoERumS4s/gnXRHCSC6rg3W3h5DCWqSWLTNoEtyKMBTwz5pzGXRoZZJFJtuA+hyK3ovvXgkYRVgyupUk2U5RlIBTdKIAoPkusrIAST2iM+zxKcBQfzSLbQoA8/voQhQHVarUH21nYrsbPmJcZWJ4nazAY0JSWu2h5cpN3pCJY5z8ejxfni7+Ax/+Yxx/9Wzhg3ReGfcJjz/MOla3PkiBLAWtL2HHbsWaRzRQxxzEsCAvXv7QlVk+wnkPJAznHwrWrgmLkyCRb8LKAYgdPnFVxVwFVWeNkki13ES8LKI5gtFmwthVRxc4mi0xypICsergsMPYh0txGRMFZrnkn5MmkwGK/crDXC4cCbOri2c+V+SWx50tfi7BnPd/1b8snu3tnGJ7pPZwAAAAASUVORK5CYII=") no-repeat center center;
      background-size: contain;
    }
  }

  // .subscribe--live-player-subscribe__btn 为订阅组件自带样式类名，此处进行重写
  .btn-round .subscribe--live-player-subscribe__btn,
  .btn-round {
    width: 160rpx;
    height: 64rpx;
    line-height: 64rpx;
    background-color: #00AE66;
    border-radius: 32rpx;
    color: #FFFFFF;
    font-size: 28rpx;
    text-align: center;

    &:active {
      background-color: darken(#00AE66, 2);
    }
  }

}

.page-live .main {

  .item {
    padding: 30rpx;
  }

  .item .prev-img {
    width: 690rpx;
    height: 387rpx;
    border-radius: 8rpx;
    overflow: hidden;

    image {
      width: 690rpx;
      height: 387rpx;
    }
  }

  .item .footer {
    margin-top: 30rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item .footer .title {
    font-size: 30rpx;
    font-weight: 600;
    line-height: 42rpx;
    color: #242424;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .item .footer .status {
    margin-top: 16rpx;
    display: flex;
    align-items: center;
    font-size: 28rpx;
    line-height: 34rpx;
  }

  .item .footer .action {
    padding: 14rpx 0 14rpx 33rpx;
  }

}

.page-live .load-more {
  text-align: center;
  color: #999;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 12px;
}