/* pages/order/order.wxss */
.tab-menu-body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: auto;
  z-index: 999;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.tab-menu{
  width: 970rpx;
}

.order-content{
  overflow: hidden;
  padding-top: 24rpx;
}

.order-item{
  border-bottom: 24rpx solid #F7F7F8;
  padding: 0 32rpx;
}

.more-view{
  position: relative;
  margin-bottom: 30rpx;
  > view{
    color: #C7C7C7;
    text-align: center;
    font-size: 24rpx;
  }
}

.total{
  border-bottom: 1rpx solid #eee;
  font-size: 24rpx;
  color: #616161;
  padding-bottom: 20rpx;
  .box1 {
    font-size: 26rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .created {
      font-size: 26rpx;
    }
    >.price-str {
      text {
        font-size: 30rpx;
      }
    }
  }
   >.amout-pay{
    text{
      font-size: 30rpx;
    }
  }
}

.order-bottom{
  height: 88rpx;
  display: flex;
  align-items: center;
  >.right{
    height: 54rpx;
    >button{
      margin-left: 30rpx;
    }
  }
}

.item-view .item{
  margin-bottom:48rpx;
}
.item-view{
  padding: 0 0 !important;
  margin: 0!important;
}


.order_item--top{
  height: 72rpx;
  border-bottom: 1rpx solid #eee;
}
.item_created{
  font-size: 26rpx;
color: #151515;
}
.item_status{
  font-size: 26rpx;
  color: #FF381F;
}

.item_img{
  border-radius: 10rpx;
  width: 160rpx;
  height: 160rpx;
  margin-right: 16rpx;
}
.item_title{
  font-size: 28rpx;
  color: #333333;
}
.item_label{
  font-size: 24rpx;
  color: #999999;
  margin-top: 8rpx;
}
.item_price{
  font-size: 32rpx;
  color: #FF3B30;
  margin-top: 8rpx;
}
.store-type {
  font-size: 18rpx;
  color: #989797;
  margin-top: 6rpx;
  .type-label {
    color: #FFF;
    background: #FF8F1F;
    border-radius: 4rpx;
    padding: 0rpx 3rpx;
    margin-right: 6rpx;
  }
  .type-label-self {
    background: #FF6010;
  }
}
.item_num-price{
  text-align: right;
  margin-top: 54rpx;
  font-size: 26rpx;
  position: absolute;
  bottom: -3rpx;
  right: 0rpx;
  font-size: 26rpx;
  .num-str{
    color: #989797;
    margin-right: 35rpx;
  }
  .price-str{
    color: #151515;
  }
}

.tab-menu--order{
  .active::after{
    width: 50rpx !important;
    background: black !important;
    height: 4rpx!important;
    margin-left: -23rpx!important;
    left:48%!important;
  }

}
.present{
  background: #E8541E!important;
    color: white!important;
    padding: 2rpx 4rpx!important;
    border-radius: 4rpx!important;
    font-size: 18rpx;
    margin-right: 4rpx;
}