
  .option-bottom{
    height: 80rpx;
    line-height: 80rpx;
    text-align: center;
  }
  .option-bottom .option-btn{
    background:#00AE66;
    color: #fff;
    border-radius: 40rpx;
  }
  .issue-desc{
    padding: 20rpx;
  }
  .issue-desc > .title{
    margin-bottom: 10rpx;
  }
  .issue-desc > .content{
    padding: 10rpx 0;
    margin-bottom: 10rpx;
  }
  .issue-desc > .content > textarea{
    width: 100%;
    height: 220rpx;
    font-size: 24rpx;
  }
  .photograph{
    overflow:hidden;
    width:180rpx;
    height:180rpx;
    background:#F7F7F8;
  }
  .photograph > image{
    width:52rpx;
    height:43rpx;
    display:block;
    margin:48rpx auto 16rpx;
    display:block;
  }
  .photograph > text{
    font-size:24rpx;
    color:#C7C7C7;
    line-height:120%;
    margin:0 auto;
    display:block;
    text-align:center;
  }
 
  .images > .img-item{
    float:left;
    margin-left:30rpx;
    position:relative;
    margin-bottom:25rpx;
  
  }
  .images > .img-item:nth-child(3n+1){
    margin-left:0;
  } 
  .images  > .img-item > image{
    float: left;
    width:180rpx;
    height:180rpx;
    background: #f3f4f6;
  }
  .images  > .img-item > .close{
    position:absolute;
    z-index:1;
    display:block;
    width:36rpx;
    height:36rpx;
    background:#fff;
    border-radius:50%;
    right:-15rpx;
    top:-15rpx;
    line-height:33rpx;
    text-align:center;
    background:#c7c7c7;
    color:#fff;
    cursor: pointer;
  }
  .images  > .img-item > .close > image{
    width: 36rpx;
    height: 36rpx;
  }