/* pages/my/my.wxss */
/*我的信息*/
.top-view{
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  position: relative;
  border-top: 1rpx solid #eee;
  border-bottom: 1rpx solid #eee;
  padding: 50rpx 30rpx;
  .my-info{
    align-items: center;
    display: flex;
    >.usimg{
      flex: initial;
      width: 138rpx;
      height: 108rpx;
      >image{
        width: 108rpx;
        height: 108rpx;
        border-radius: 50%;
      }
    }
    > .user_dec {
      flex: 1;
      text-align: left;
      .name{
        font-size: 32rpx;
        color: #242424;
        margin-bottom: 10rpx;
      }
      .user_icon{
        > text{
          margin-right: 10rpx;
          height: 32rpx;
          line-height: 32rpx;
          position: relative;
          text-align: center;
          padding: 0 10rpx;
          color: #00AE66;
          font-size: 24rpx;
          border-radius: 6rpx;
          float: left;
          margin-bottom: 10rpx;
          &::after{
            transform: scale(0.5);
            border: 1px solid #00AE66;
            transform-origin: 0 0;
            display: flex;
            box-sizing: border-box;
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 200%;
            border-radius: 12rpx;
          }
          &.king{
            background: #00AE66;
            color: #fff;
          }
        }
      }
    }
  }
  .my-message {
    height: 40rpx;
    padding: 10rpx;
    transform: translate(10rpx, -30rpx);
    >.icon-message {
      width: 46rpx;
      height: 42rpx;
    }
    >.badge {
      width: 34rpx;
      border-radius: 100rpx;
      background-color: #ff6868;
      font-size: 20rpx;
      color: #FFFFFF;
      line-height: 22rpx;
      text-align: center;
      transform: translate(30rpx, -60rpx);
    }
  }
}


/*账户*/
.account{
 color: #00AE66;
 background: #fff;
 display: flex;
 align-items: center;
 border-bottom: 20rpx solid #F7F7F8;
  > navigator{
    flex: 1;
    text-align: center;
    padding: 32rpx 0;
    font-size: 38rpx;
    color: #242424;
    >image{
      margin-right: 18rpx;
      position: relative;
    }
    &.blance{
      >image{
        width: 48rpx;
        height: 48rpx;
        top: 10rpx;
      }
    }
    &.coupon{
      >image{
        top: 5rpx;
        width: 50rpx;
        height: 38rpx;
      }
    }
  }
  > .interval{
    flex: initial;
    width: 2rpx;
    height: 40rpx;
    background: #eee;
  }
}

.pannel{
  font-size: 30rpx;
  color: #3D4552;
  display: flex;
  height: 78rpx;
  line-height: 78rpx;
  border-bottom: 1rpx solid  #F2F4F8;
  view{
    flex:1;
    margin: 0 30rpx;
  }
  .item{
    text-align: right;
    text{
      color: #A5A5A5;
      font-size: 24rpx;
      margin-right: 20rpx;
    }
    image{
      width: 10rpx;
      height: 20rpx;
      vertical-align:middle;
    }
  }
}

.my-order-list{
  .item-menus{
    display: flex;
    font-size: 24rpx;
    color: #A5A5A5;
    justify-content: space-around;
    text-align: center;
    padding: 20rpx 0;
    border-bottom: 20rpx solid #F4F5F7;
    >navigator{
      flex: 1;
      padding: 20rpx 0;
      image{
        width: 68rpx;
        height: 68rpx;
      }
      .order-ci{
        width: 68rpx;
        height: 68rpx;
      }
    }
  }
}

/*操作区*/
.option-view {
  padding: 20rpx 0;
}

.option-tiem{
  display: flex;
  > .item{
    flex: 1;
    text-align: center;
    padding: 20rpx 0;
    position: relative;
    &:active{
      background: #f9f9fa;
    }
    > image{
      display: block;
      width: 56rpx;
      height: 56rpx;
      margin: 0 auto 16rpx;
    }
    .reply{
      font-size: 16rpx;
      background: #f30;
      border-radius: 10rpx;
      color: #fff;
      position: absolute;
      padding: 3rpx 5rpx;
      top: 0;
      right: 0;
    }
    > text{
      font-size: 24rpx;
      color: #A5A5A5;
    }
  }
}
