/* pages/myCsm/myCsm.wxss */
.item{
  border-bottom: 20rpx solid #F4F5F7;
  display: flex;
  align-items: center;
  padding: 32rpx 30rpx;
}
.item > .left{
  width: 138rpx;
  flex: initial;
}
.item > .left > image{
  width: 108rpx;
  height: 108rpx;
  border-radius: 50%;
}
.item > .right {
  flex: 1;
}
.item > .right > .realname-phone{
  margin-bottom: 12rpx;
}
.item > .right > .realname-phone > .realname{
  margin-right: 56rpx;
  font-size: 32rpx;
}
.item > .right > .citys{
  overflow: hidden;
}
.item > .right > .citys > view{
  float: left;
  font-size: 28rpx;
  color: #050505;
}